.testimonial-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2.767px 2.214px 0px rgba(38, 31, 34, 0.02), 0px 6.65px 5.32px 0px rgba(38, 31, 34, 0.03), 0px 12.522px 10.017px 0px rgba(38, 31, 34, 0.04), 0px 22.336px 17.869px 0px rgba(38, 31, 34, 0.04), 0px 41.778px 33.422px 0px rgba(38, 31, 34, 0.05), 0px 100px 80px 0px rgba(38, 31, 34, 0.07);
    padding: 64px 32px;
    width: 100%;
    text-align: center;
}

@media (min-width:768px) {
    .testimonial-card {
        padding: 96px 64px;
    }
}
@media (min-width:992px) {
    .testimonial-card {
        padding: 128px 64px;
    }
}

.testimonial-card .statement {
    margin-bottom: 64px;
}

.testimonial-card .testimonial-details .name p {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
}

.testimonial-card .testimonial-details .position p {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #5c5759;
}

.testimonial-card .media-profile .overlapping-main {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.testimonial-card .media-profile .overlap {
    margin-left: -10px;
}